@font-face {
  font-family: "iconfont"; /* Project id 2796847 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1708254027574') format('woff2'),
       url('iconfont.woff?t=1708254027574') format('woff'),
       url('iconfont.ttf?t=1708254027574') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huodong:before {
  content: "\e609";
}

.icon-huodong-active:before {
  content: "\f41e";
}

.icon-diancan-active:before {
  content: "\f41d";
}

.icon-diancan11:before {
  content: "\e686";
}

.icon-diancan:before {
  content: "\e618";
}

.icon-qucan:before {
  content: "\e638";
}

.icon-qucan-active:before {
  content: "\f41c";
}

.icon-shoppingcart-highlight:before {
  content: "\e632";
}

.icon-shoppingcart:before {
  content: "\f41b";
}

.icon-add:before {
  content: "\e777";
}

.icon-decrease:before {
  content: "\f41a";
}

.icon-weixin:before {
  content: "\e600";
}

.icon-yaoqingyouli:before {
  content: "\e637";
}

.icon-dianhua:before {
  content: "\e624";
}

.icon-invite-right:before {
  content: "\e6a3";
}

.icon-black-right:before {
  content: "\f419";
}

.icon-meishi:before {
  content: "\e608";
}

.icon-shouye:before {
  content: "\f417";
}

.icon-shouye-active:before {
  content: "\e613";
}

.icon-dingwei:before {
  content: "\e602";
}

.icon-wode:before {
  content: "\f418";
}

.icon-wode-active:before {
  content: "\e61f";
}

